<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Cats | List</title>
</head>
<body>
    <div class="wrapper p-3">
        <% if(status == "admin"){ %>
        <button class="btn btn-primary float-left mt-2" onclick="location.href='/newCat'">Create</button>
        <% } %>
        <h1 class="text-center">Woohoo Cats
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">Logout</button>
        </h1>
        <hr/>
        <div class="content-wrapper mt-2">
            <div class="content-header">
                <div class="col-12 col-sm-12 row text-center">
                    <h4 class="col-6 border-right"><a href="/list">List</a></h4>
                    <h4 class="col-6 border-left"><a href="/fact">Fact</a></h4>
                </div>
            </div>
            <div class="content p-3">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered" name="tableList" id="table_list">
                                <thead>
                                    <th>Name</th>
                                    <th>Origin</th>
                                    <th>Description</th>
                                    <% if(status == "admin"){ %>
                                    <th>Action</th>
                                    <% } %>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < catList.length; i++){ %>
                                        <tr>
                                            <td><%= catList[i].name %></td>
                                            <td><%= catList[i].origin %></td>
                                            <td><%= catList[i].description %></td>
                                            <% if(status == "admin"){ %>
                                                <td><button type="button" class="btn btn-danger" id="deleteCatBtn" data-toggle="modal" data-target="#deleteCatModal" data-id="<%= catList[i].id %>">Delete</button></td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%# Modal box for delete confirmation %>
    <div class="modal fade" id="deleteCatModal" tabindex="-1" role="dialog" aria-labelledby="deleteCatModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCatModalLabel">Delete fact confirmation box</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/cat/delete/" id="catDeleteForm" method="post">
                        <input type="hidden" id="cID" name="catID">
                        <p>Are you sure to delete this cat ?</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="catDeleteForm" class="btn btn-danger mr-auto">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <%# Modal box for delete confirmation (END) %>
</body>
<script>
$(document).ready(function(){
    $('#table_list').DataTable({
        "language": {
            "emptyTable":"No Data Found"
        }
    })
});
$(document).on("click","#deleteCatBtn",function(){
  var id = $(this).data('id');
  // Detail Modal
  $("#deleteCatModal #cID").val(id);
});
</script>
</html>